@import '../../variables.scss';

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  width: 100%;

  .settingFormContainer {
    width: 100%;
    height: 561px;
    padding: 16px 24px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: start;

    .settingForm {
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding: 16px;
      gap: 12px;
      border-radius: 4px;
      background-color: #fff;

      .formRow {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 4px;
      }

      .select_box_container {
        margin-left: 0;
      }
    }
  }

  .actionsContainer {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #dadde1;
    background-color: #ffff;
    width: 100%;
    border-radius: 0 0 8px 8px;
    padding: 16px 24px;

    .cancel {
      :global span {
        font-size: 14px;
        font-weight: normal;
        color: #0065ff;
      }
    }

    .submit {
      background-color: #0052cc !important;
      width: 70px;

      :global span {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.marginLeft0 {
  margin-left: 0 !important;
}
