.templateInput {
  margin-left: 16px;
  margin-bottom: 16px;

  :global {
    .has-error.has-feedback .ant-form-item-children-icon,
    .has-success.has-feedback .ant-form-item-children-icon,
    .has-warning.has-feedback .ant-form-item-children-icon,
    .is-validating.has-feedback .ant-form-item-children-icon {
      right: -26px;
      top: 9px;
    }
  }

  &:last-of-type {
    margin-left: 0;
  }
}

.inputGroup {
  display: flex;
  width: calc(100% - 16px);
  justify-content: space-between;
}

.footerRow {
  margin-top: 48px;
}

.modalButton {
  height: 32px !important;
  border-radius: 4px !important;
}

.cancelButton {
  height: 32px !important;
  border-radius: 4px !important;
  margin-left: 8px;
}

.textAreaContainer {
  margin-top: 5px;
  height: 100px !important;
}

.select_temp {
  flex-direction: column !important;
  align-items: flex-start !important;

  & > span {
    width: 100%;
    color: #7a7a7a !important;
  }
}
