.container {
  margin-bottom: 10px;
  padding: 11px 15px 43px 15px;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  height: 338px;
}

.link_list {
  color: #1c92ff;
  text-decoration: underline;
  cursor: pointer;
  text-decoration-style: dotted;
}
