.titr {
  font-size: 15px;
  font-weight: bold;
  color: rgb(16, 16, 16);
}

.checkbox {
  margin-top: 12px;
}

.label {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 4px;
  color: rgba(99, 99, 99, 0.85);
  padding-top: 20px;
}

.hr {
  border-bottom: solid 1px #f0f0f0;
  padding-top: 24px;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  & > div {
    padding-right: 8px;
    flex: 1 0 auto;
  }

  :global {
    .SingleDatePicker__picker.SingleDatePicker__picker--direction-left.SingleDatePicker__picker--horizontal.SingleDatePicker__picker--rtl {
      left: 0 !important;
      right: auto;
      bottom: 35px;
      top: auto;
    }
  }
}

.drawer {
  overflow-x: visible !important;
  overflow-y: hidden;
  padding-bottom: 80px !important;
  position: relative;
}

.addApplication {
  text-align: left;
}
