@import '../../../variables';

.root {
  :global(.ant-collapse-header) {
    color: rgb(33, 150, 243) !important;
    font-weight: 400;
  }

  :global(.ant-collapse-item) {
    border: 0 !important;
  }

  :global(.upload-box) {
    margin-top: 12px;
  }

  :global(.deletable-wrapper) {
    i {
      position: absolute;
      border: solid 1px rgb(131, 131, 131);
      border-radius: 50%;
      right: 2px;
      top: 12px;
      transition: 0.2s;
      font-size: 15px;
      color: rgb(207, 207, 207);
      box-shadow: 0 0 4px #d9c9c9;

      &:hover {
        color: $red-button;
        border-color: $red-button;
      }
    }
  }

  :global(.image-preview) {
    img {
      width: 100px;
      margin-top: 10px;
      cursor: default;
    }

    span {
      position: relative;
      top: 20px;
      font-weight: 400;
      font-size: 13px;

      i:hover {
        color: red;
      }
    }
  }

  :global(.helper-tokens .ant-typography) {
    display: inline-block;
  }

  :global(.ant-collapse-content-box .help-box) {
    border-radius: 5px;
    color: black;
    border: solid 1px #b6b6b6 !important;
    background-color: #e6f7ff !important;
    padding: 10px;
    text-align: justify;
    font-size: 13px;

    code {
      font-size: 14px;
    }
  }

  .select {
    .controlLabel {
      color: #7a7a7a !important;
    }

    .select_box_container {
      flex-direction: column !important;
      align-items: flex-start !important;
    }
  }

  .textArea {
    .container {
      flex-direction: column !important;
    }
  }

  .input {
    :global(.controlLabel) {
      color: #7a7a7a !important;
      font-weight: normal !important;
    }

    .input {
      flex-direction: column !important;
      border-radius: 4px !important;

      :global {
        .ant-input {
          border-radius: 4px !important;
        }
      }

      :global(.ltrInput) input {
        border-radius: 4px !important;
      }
    }
  }
}
