@import '../variables';

.headerSearchBar {
  border-left: 1px solid #f0f2f5;
  padding-left: 21px;
  width: 100%;

  input {
    color: #acb9be !important;
    padding: 14px 40px 14px 8px !important;
    border-radius: 4px !important;
    background: #f0f2f5 !important;
    border: none;
  }

  :global {
    .ant-select-selection {
      background-color: transparent !important;
    }

    .ant-input-suffix {
      left: unset !important;
      right: 15px !important;
      font-size: 16px;
      color: #92a6ca;
    }
  }
}
