/* stylelint-disable no-descending-specificity */
@import '../variables.scss';

.moreActionContainer {
  button[aria-expanded=true] {
    span {
      border-radius: 50%;
      background-color: rgba(163, 178, 194, 0.39);
      padding: 2px;
    }
  }

  button[aria-haspopup] {
    position: unset;
    background-color: transparent;
  }
}

.moreActionTextWrapper {
  min-width: 145px;
  display: flex;
  justify-content: flex-start;
  margin: 4px 8px;
  border-radius: 4px !important;
  padding: 8px !important;

  span {
    display: inline-flex;
    font-size: 12px;
  }

  svg {
    width: 10px;
    height: 10px;
    fill: var(--text-field-label);
  }

  &:hover {
    background-color: var(--light-blue) !important;

    span {
      color: #0065ff !important;
    }

    svg {
      fill: #0065ff;
    }
  }
}

.removeAction {
  background-color: #feecec !important;

  span {
    color: var(--secondary);
  }

  svg {
    path {
      fill: var(--secondary);
    }
  }

  &:hover {
    background-color: #feecec !important;

    span {
      color: var(--secondary) !important;
    }

    svg path {
      fill: var(--secondary);
    }
  }
}

.moreActionText {
  font-size: 12px;
  font-weight: normal;
  color: var(--text-field-label);
  margin-right: 4px;

  &:hover {
    color: #0065ff;
  }
}
