@import '../variables';

.codeView {
  direction: ltr;
}

.highlightCode {
  padding: 10px 15px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, sans-serif;
  font-size: 14px;
  background-color: #eff0f1;
}

.description_container {
  padding: 0 20px 20px 10px;
  background: #f3f3f3;
  border-radius: 5px;
  margin: 10px 5px;
  width: 100%;
}

.generalActivityList {
  list-style: none;
  line-height: 2;
  padding-right: 10px;

  li {
    font-size: 11px;
    color: gray;

    span {
      font-size: 13px;
    }
  }
}
