.historyItemField {
  margin-bottom: 12px;

  .historyItemContext {
    width: 100%;
    background: #fafafa;
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 8px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
  }

  .fieldTitle {
    font-weight: 500;
    padding-right: 3px;
    font-size: 10.38px;
    text-align: right;
    color: #6b778c;
    margin-bottom: 5px;
  }

  .fieldContext {
    font-weight: 400;
    font-size: 10px;
    text-align: right;
    color: #000;
  }
}

.historyItemHeader {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 8px;
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  .historyItemHeaderPhaseName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .phase {
      background-color: #eae1ed !important;
      border: 1px solid  #a555c7 !important;
      padding: 0 8px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      text-align: center;
      height: 32px !important;

      span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #a555c7 !important;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

.showHandler {
  color: #1890ff;
  padding: 6px;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid #f0f0f0;
  border-top: none;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  background-color: #fafafa;
  cursor: pointer;
  width: 100%;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
