.label {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 4px;
  color: rgba(99, 99, 99, 0.85);
}

.selectedContent {
  margin-top: 24px;
}

.checkbox {
  margin-top: 12px;
}

.hr {
  border-bottom: solid 1px #f0f0f0;
  padding-top: 24px;
}
