.tag {
  color: white !important;
  border-radius: 4px;
  padding: 2px;
  margin: 4px;
  font-size: 12px;
  display: inline-block;
  white-space: nowrap;

  svg {
    font-size: 11px;
    padding-left: 3px;
  }
}
