.titr {
  font-size: 15px;
  font-weight: bold;
  color: rgb(16, 16, 16);
}

.container {
  padding: 16px 24px;
  border-radius: 4px;
  border: solid 1px #e1e1e1;
  background-color: #fbfbfb;
  margin: 24px 0;
}

.key {
  font-size: 12px;
  color: #999;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}
