.buttonsContainer {
  display: flex;
  align-items: center;
  font-size: 12px;

  & p {
    margin-left: 24px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  position: relative;

  &__indicator {
    position: absolute;
    display: block;
    transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    background-color: #1c92ff;
    border-radius: 4px;
  }

  & label {
    position: relative;
    z-index: 2;
    margin-left: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    transition: color 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  & input[type='radio'] {
    display: none;
  }

  & input[type='radio']:checked + label {
    color: white;
  }

  & input[type='radio']:not(:checked) + label {
    cursor: pointer;
  }
}
