.tasksWrapper {
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  padding: 20px 23px;

  .taskWrapper {
    padding: 6px 12px 12px 12px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    border-radius: 2px;
    border: 1px solid var(--neutral-4, #f0f0f0);
    background: var(--neutral-2, #fafafa);
    margin-bottom: 8px;

    header.taskHeader {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--neutral-4, #f0f0f0);

      .taskTitle {
        font-size: 12px;
        color: #000;
        text-align: center;
        font-weight: 500;
      }

      .taskCreatedDate {
        color: var(--neutral-6, #bfbfbf);
        text-align: right;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .taskDescription {
      margin-top: 8px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      div {
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 5px;
        margin-bottom: 8px;

        .fieldTitle {
          color: var(--neutral-7, #8c8c8c);
          text-align: right;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        .fieldValue {
          color: #000;
          text-align: right;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          .taskStatusValue {
            display: flex;
            padding: 2px 6px;
            align-items: center;
            gap: 4px;
            border-radius: 2px;
            text-align: center;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 7px;
          }
        }
      }

      :first-child .fieldValue {
        margin-bottom: 0;
        margin-top: 2px;
      }
    }
  }
}

:global {
  .openStatus {
    border: 1px solid #ffec3d;
    color: #d4b106;
    background: #feffe6;
  }

  .closeStatus {
    border: 1px solid #ff7875;
    color: #f5222d;
    background: #fff1f0;
  }

  .inProgressStatus {
    border: 1px solid #69c0ff;
    color: #1890ff;
    background: #e6f7ff;
  }
}
