/* stylelint-disable no-descending-specificity */
/* stylelint-disable at-rule-no-unknown */
@import '../variables.scss';

.pipeLineContainer {
  height: 100%;
  display: flex;
  flex-direction: column;

  :global * {
    font-family: iranyekan, Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  }
}

.pipeLine {
  display: flex;
  flex-direction: row;
  background-color: var(--lightest-gray);
  align-self: flex-end;
  width: 100%;
  height: 100%;
  overflow-x: scroll;

  &::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 2px;
    background-color: #dfdfdf !important;
    box-shadow: none !important;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    width: 3px;
    border: solid 3px transparent;
  }
}

.phaseContainer {
  margin-top: 6px;
  margin-left: 24px;
  min-width: 250px;
  max-width: 250px;
  width: 100%;
  height: 95%;

  &:first-of-type {
    margin-right: 36px;
  }

  .phaseTitle {
    text-align: center;
    height: 27px;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    :global span {
      font-weight: bold;
      font-size: 12px;
      white-space: nowrap;
      max-width: 150px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      align-self: center;
      padding: 5px;
    }
  }
}

.phaseName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}

.phaseHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.cardsNumber {
  font-size: 12px;
  color: var(--secondary);
  margin-right: 8px;
  margin-top: 8px;
}

.headerContainer {
  display: flex;
  padding: 12px 12px 0;
  background: white;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  @media only screen and (max-width: 580px) {
    margin: 8px 16px 0 16px;
    flex-direction: column;
  }

  .pipelineHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .pipeTitle {
      color: #000;
      text-align: right;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .pipeTools {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 4px;
      margin-bottom: 6px;

      :global {
        .ant-btn-default:hover {
          i:nth-child(1) > svg:nth-child(1) > path:nth-child(1) {
            fill: #40a9ff;
          }
        }
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pipeTitle {
    color: #000;
    text-align: right;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.tabWrapper {
  align-self: flex-end;
  display: flex;

  @media only screen and (max-width: 580px) {
    align-self: unset;
    margin: unset;
  }

  div[role='tablist']::before {
    background-color: transparent;
  }
}

.tab {
  font-size: 14px;
  font-weight: normal;
  color: var(--secondary);
  cursor: pointer;
  line-height: 1.8;
  margin: 0;
  padding: 0 8px 10px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media only screen and (max-width: 580px) {
    font-size: 12px;
    padding: 0 4px 10px;
  }

  &::after {
    content: '';
    border-radius: 2px;
    bottom: 0;
    margin: 0;
    position: absolute;
    width: inherit;
    left: 8px;
    right: 8px;
    border-bottom: 2px solid transparent;
    height: 0;
  }
}

.activeTab {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary);
  @extend.tab;
}

.startForm {
  display: flex;
  height: 29px;
  padding: 4px 15px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: none;
  color: white;
  margin-bottom: 16px;
  border-radius: 2px;
  cursor: pointer;
  background: var(--primary-6, #1890ff);

  @media only screen and (max-width: 580px) {
    margin-bottom: 24px;
  }

  span {
    font-size: 12px;
    color: var(--bg);
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    height: 16px;
    width: 16px;

    path {
      fill: var(--bg);
    }
  }
}

.input {
  width: 100%;
  margin: 0 auto;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #d9d9d9;
  background-color: var(--bg);
}

.startFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 16px;
  min-width: 400px;

  @media only screen and (max-width: 1032px) {
    height: 100%;
    justify-content: center;
  }
}

.startFormTitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
}

.cardName {
  margin-bottom: 8px;
}

.createCardButton {
  display: flex;
  align-items: center;
  height: 32px;
  align-self: flex-end;
  margin-top: 16px;
  padding: 0 8px;

  span {
    font-size: 14px;
    font-weight: 500;
    color: var(--bg);
  }
}

.cardsContainer {
  height: 97%;
  overflow-y: scroll;

  &::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 2px;
    background-color: var(--border) !important;
    box-shadow: none !important;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    width: 3px;
    border: solid 3px transparent;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }
}

.newPhase {
  color: #0d7cd1;
  background-color: transparent !important;
  border-radius: 4px;
  border: dashed 1px var(--icon) !important;
  min-width: 114px;
  height: 32px;
  margin: 15px 0 0 24px;
  position: unset !important;

  svg {
    width: 16px;
    height: 16px;
    margin-bottom: 2px;
  }

  .buttonText {
    margin-right: 10px;
    font-size: 12px;
    color: var(--icon);
  }

  span {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

.activeButton {
  display: flex;
  padding: 6px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 2px;
  border: 1px solid var(--primary-6, #1890ff);
  background: var(--primary-6, #1890ff);

  svg {
    width: 16px;
    height: 16px;

    path {
      fill: white;
    }
  }
}

.emptyPhase {
  font-size: 12px;
  color: var(--secondary);
  text-align: center;
  margin-top: 24px;
}

.tabContainer {
  padding: 0 !important;
}

.More {
  fill: lightslategray;

  button {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}

.buttonWrapper {
  margin-right: 36px;
}
//random color

.color0 {
  background-color: #f3e1e1 !important;
  color: #f24f52 !important;
}

.color1 {
  background-color: #eae1ed !important;
  color: #a555c7 !important;
}

.color2 {
  background-color: #dae6ef !important;
  color: #0d7cd1 !important;
}

.color3 {
  background-color: #e9edd9 !important;
  color: #9ec203 !important;
}

:global {
  .pipeLine-Header {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 16px;
  }

  .ant-btn-primary {
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #1890ff;
  }

  .ant-btn-primary > i:nth-child(1) {
    border-radius: 2px;
  }

  button.ant-btn > i:nth-child(1) > svg:nth-child(1) {
    width: 16px;
    height: 16px;
  }

  .ant-btn {
    border-width: 2px;
  }

  button.ant-btn-icon-only:nth-child(2) > i:nth-child(1) > svg:nth-child(1) > path:nth-child(1) {
    fill: #9ca8b4;
  }

  button.ant-btn-icon-only:nth-child(2) > i:nth-child(1) > svg:nth-child(1) {
    margin-top: 2px;
  }
}
