.children_container {
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
}

.close {
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.open {
  max-height: 180px;
  transition: max-height 0.3s ease-in;
}

.arrow_more {
  color: #419bf9;
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  transition: all 0.2s ease-in;
}

.arrow_container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background: #fff;
}
