@import '../../variables';

.selectDate {
  &.disabled {
    input {
      background: #f5f5f5;
    }
  }

  .select {
    width: 33.3333%;

    :global(.ant-select-selection:hover) {
      z-index: 1;
    }

    & > div > div {
      margin-left: -1px;
    }
  }
}
