@import '../../../variables';

:global(.ant-checkbox-group-item) {
  display: block;
  margin-right: 0;
  margin-top: 7px;
}

:global(.ant-modal-wrap) {
  overflow-x: hidden;
}

.text {
  margin-bottom: 5px;
}

.select {
  margin-top: 15px;
}

.btn {
  background-color: #1890ff;
  color: #fff;
  display: block;
  margin-top: 20px;
}
