@import '../variables';

:global(.ant-table-fixed) td {
  white-space: nowrap;
}

.leads {
  background-color: #fff;
}

.wrapper {
  height: auto;
  min-height: 100%;
  color: #363636;
  font-size: 13px;
  padding: 5px 15px 15px 15px;
  background-color: #f2f2f2;
}
