.filtersManager {
  margin-bottom: 8px !important;

  :global {
    .ant-tag {
      i {
        padding-right: 5px;
      }
    }
  }

  & > :first-child :global(.ant-tag) {
    margin-right: 0 !important;
  }
}
