.MODAL_FOR_KYB_BUSINESS_FINAL_APPROVE {
  width: calc(100vw - 110px) !important;

  :global {
    .ant-modal-body,
    .ant-modal-footer {
      padding: 0 !important;
    }

    .ant-modal-content {
      margin: 0 auto;
      transform: translateX(-22.5px);
      max-width: 1024px;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    padding: 12px 16px;
  }
}
