.root {
  :global {
    .DateRangePickerInput {
      border: none;

      .DateInput {
        min-width: 150px;
      }

      .DateRangePickerInput__arrow {
        padding: 0 10px;
      }
    }
  }
}
