@import '../variables';

.searchBar {
  padding: 0 15px;
  height: 45px;
  overflow: hidden;

  small {
    font-size: 90%;
    margin-left: 10px !important;
    margin-bottom: 2px;
    display: block;
  }

  &.open {
    height: auto;
    overflow: visible;
  }

  .header {
    height: 45px;
    line-height: 42px;
    display: block;
    margin: 0;

    .text {
      display: inline-block;
      margin-left: 20px;
      cursor: pointer;

      & > i {
        font-size: 14px;
        padding-left: 10px;
        position: relative;
        bottom: -3px;
        transition: 0.3s ease all;
      }

      & > span {
        transition: 0.3s ease all;
      }
    }

    &:hover {
      .text {
        & > i,
        & > span {
          color: #000;
        }
      }
    }

    .details {
      display: inline-block;

      .badge {
        background: #e6f7ff;
        color: rgba(0, 0, 0, 0.65);
        font-size: 12px;
        height: 22px;
        line-height: 22px;
        padding: 0 10px 0 30px;
        border-radius: 2px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        margin-left: 10px;
        border: 1px solid #91d5ff;

        & > i {
          position: absolute;
          font-size: 14px;
          top: 3px;
          left: 4px;
          color: #999;
          transition: 0.4s ease color;
        }

        &:hover {
          & > i {
            color: red;
          }
        }
      }
    }
  }

  :global {
    .flex-end {
      display: flex;
      align-items: flex-end;
      margin-bottom: 15px;
    }

    .ant-time-picker-icon {
      right: 6px !important;
      top: 16px;
    }

    .ant-btn-circle,
    .ant-btn-circle-outline {
      padding: 0 !important;
      font-size: 14px !important;
    }
  }

  .submit {
    margin-top: 20px;
  }

  :global(.ant-btn-primary-disabled),
  :global(.ant-btn-primary[disabled]) {
    color: #656565;
    background-color: #d0d0d0;
    border-color: #d9d9d9;
  }
}

.input {
  margin-bottom: 15px;
}

.searchBox {
  margin: 0 0 15px;
  background: #f7f7f7;
  padding: 15px 0 0 0;
  border-radius: 2px;
}

.searchList {
  flex: 1;
}
