@import '../../variables';

:global {
  .ant-empty {
    padding: 15px;
    text-align: center;
  }

  .ant-empty-image {
    height: 36px;
    margin-bottom: 8px;
  }

  .ant-empty-description {
    color: rgba(0, 0, 0, 0.25);
  }
}
