/* stylelint-disable no-descending-specificity */
/* stylelint-disable declaration-block-no-duplicate-properties */
@import '../../variables';

.cardDetailWrapper {
  min-height: 206px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;

  .firstSectionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .cardDetail {
    width: 100%;
    max-height: calc(100vh - 100px);

    &:last-of-type {
      max-width: 100%;
    }
  }
}

.cardDetailContainer {
  width: 100%;
  height: 100%;
}

.detailContainer {
  max-height: calc(100% - 88px);
  overflow-y: auto;
}

.cardHeader {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--primary);
  padding-left: 50px !important;

  .cardHeaderTitle {
    display: flex;
    align-items: center;
    justify-content: end;

    span {
      font-size: 12px;
      color: #bfbfbf;
      font-weight: normal;
    }
  }

  .actionsWrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    font-size: 16px;
    text-align: right;
    line-height: 28px;

    .actionsButton {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: #1890ff;
      padding: 4px 9px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:last-child svg path {
        fill: white;
      }
    }
  }

  .currentPhaseHeader {
    padding: 4px 8px;
    color: #0065ff;
    background-color: var(--light-blue);
    margin-right: 4px;
    border-radius: 4px;
    gap: 4px;
    align-items: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
  }
}

.cardTitle {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary);
  padding-bottom: 8px;
  border-bottom: 1px solid #dadde1;
  margin-bottom: 16px;
  width: 100%;
}

:global {
  .modal .modal-content .modal-body {
    min-width: 1203px;
    height: calc(100vh - 80px);
  }

  .ant-divider-horizontal {
    padding: 0.5px;
  }

  .card-detail-page {
    height: 100%;

    .cardDetailWrapper {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr) !important;
      gap: 16px !important;
    }

    .cardHeader {
      padding: 13px 16px !important;
      display: flex !important;
      justify-content: start !important;
    }

    .firstSectionWrapper {
      background-color: #fff;
      border-radius: 4px;
      width: 100%;
      max-height: calc(100vh - 140px);
    }
  }
}
