@import '../variables';

.ColumnsHeaderInfo {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;

  .stopAction {
    position: absolute;
    font-size: 12px;
    right: 15px;
    top: 10px;
    color: red;
    cursor: pointer;
  }

  h4,
  p {
    margin: 0 0 0 10px;
  }

  h4 {
    color: #2196f3;
    font-weight: 600;
    font-size: 16px;
  }

  p {
    color: #000;
    width: 150px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.actionsList {
  border: none;
  border-radius: 2px;
  padding: 5px 10px 5px 5px;
  vertical-align: middle;
  background-color: #0d94f6;
  cursor: pointer;
  box-shadow:
    0 0 4px 0 rgba(0, 0, 0, 0.05),
    0 2px 4px 0 rgba(0, 0, 0, 0.15);

  :global(.ant-dropdown-trigger) {
    color: #fff;
    display: flex;
    width: 75px;
    font-size: 13px;
    align-items: center;
    white-space: nowrap;

    :global(.anticon-caret-down) {
      color: #fff;
      margin-right: 5px;
      font-size: 10px;
    }
  }
}
