@import '../../../variables';
@import '../../../../../public/css/animation.css';

.toolbar {
  margin-bottom: 8px;

  .tool {
    font-size: 19px;
    transition: all 0.2s, transform 0.5s, opacity 0.6s;
    padding: 3px 0 0;
    background: rgb(255, 255, 255);
    animation: fadeinBig 0.2s ease-in-out;

    i {
      font-size: 22px;
      line-height: 0;
      padding: 0;
      color: #a3a3a3;
      transition: 0.2s;
      transform: scale(0.8);
    }

    &:disabled {
      i {
        color: rgb(165, 165, 165) !important;
      }
    }

    &.leftSide {
      float: left;
      animation: unset;
    }

    &.invisible {
      opacity: 0;
      transform: scale(0);
    }
  }

  .toggle_button {
    display: flex;
    flex-direction: row;
  }

  .action_group_btn {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    border: solid 1px #ebebeb;
    border-radius: 4px;
    transition: all 0.2s, transform 0.5s, opacity 0.6s;
    animation: fadeinBig 0.2s ease-in-out;
  }

  .default_tool {
    display: flex;
    flex-direction: row;
    margin-right: 4px;
    border-radius: 4px;
    border: solid 1px #ebebeb;
    justify-content: space-around;
    align-items: center;
    width: 95px;
    height: 32px;

    .default_tool__icons {
      display: flex;
      flex-direction: row;
    }

    .default_tool__icon {
      color: #a3a3a3;
      padding: 5px;
      display: flex;
      flex-direction: row;
      cursor: pointer;
    }

    .default_tool__dot {
      color: rgba(51, 51, 51, 0.45);
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      padding: 5px;
    }
  }
}

.headerTitle {
  :global {
    .ant-row-flex {
      align-items: center;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .headerTitle__number {
    background-color: #1890ff;
    border-radius: 17px;
    padding: 2px 10px;
    height: 20px;
    font-size: 12px;
    margin-right: 4px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
  }
}

.toggleButton {
  float: left;
  margin-left: 8px !important;
}
