.cardDetail {
  width: 100%;
  max-height: calc(100vh - 178px);

  &:last-of-type {
    max-width: 100%;
  }

  .detailTitle {
    font-weight: bold;
    padding: 16px;
    font-size: 14px;
    color: var(--primary);
    border-top: 1px solid #dadde1;
    border-bottom: 1px solid #dadde1;
  }

  .formWrapper {
    padding: 16px;

    .phase {
      background-color: #eae1ed !important;
      padding: 0 8px;
      border-radius: 4px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;
      cursor: pointer;
      width: 100% !important;
      text-align: center;
      height: 32px !important;

      .otherPhaseName {
        margin-top: -2px;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #a555c7 !important;
        font-size: 14px;
        font-weight: normal;

        svg {
          fill: #a555c7;
        }
      }
    }
  }
}

:global {
  .card-detail-page {
    .card-Detail {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 16px;
      max-height: calc(100vh - 140px);
    }

    .move-to-section-detailTitle {
      width: 100%;
      border-top: none;
    }

    .third-section {
      background-color: #fff;
      border-radius: 4px;
    }

    .move-to-section-container {
      height: calc(100% - 70px);
      overflow-y: auto;
    }

    .actionsWrapper {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 12px;
      font-weight: 700;
      font-size: 16px;
      text-align: right;
      line-height: 28px;
      padding: 12px;

      .actionsButton {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: #1890ff;
        padding: 4px 9px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
