:global {
  .ant-menu-inline-collapsed {
    width: inherit !important;
  }
}

.sidebarMenu {
  margin-top: 65px;

  :global {
    .ant-menu-item-selected {
      background-color: initial !important;

      &::after {
        border-left: 3px solid #fff !important;
      }
    }

    .ant-menu-item {
      margin: 0 !important;
      height: 36px !important;

      .anticon + span {
        font-size: 12px !important;
      }
    }

    .ant-menu-inline-collapsed .anticon {
      margin-left: 0 !important;
    }
  }
}
