@import '../../variables';

.searchContainer {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.searchContainer input {
  width: 130px;
  margin-left: 8px;
  margin-right: 0;
}

:global(.ant-table-column-sorter) {
  margin-right: auto;
  margin-left: 0;
  display: flex;
  align-items: center;
}

:global(.ant-table-thead) > tr > th :global(.ant-table-filter-icon),
:global(.ant-table-thead) > tr > th :global(.anticon-filter) {
  margin-right: auto;
  margin-left: 0;
  display: flex;
  align-items: center;
}

:global(th.ant-table-column-has-filters) span {
  display: flex;
  justify-content: space-between;
}

.tableRecordIndex {
  display: block;
  text-align: center;
}
