@import '../../components/variables.scss';

.pipelineLevel {
  font-family: Tahoma, 'Open Sans', sans-serif;
  font-weight: 100;
  color: rgb(195, 195, 195);
  position: absolute;
  height: auto;
  left: -6px;
  z-index: 1;
  opacity: 0;
  font-size: 9px;
  transition: 0.3s;
}

.colContainer {
  flex: 1;
  height: 100%;
  opacity: 1;
  width: 264px;
  transition: 0.3s;

  &.hiddenPipeline {
    opacity: 0;
    width: 0;
    flex: 0;
  }

  :global(.ant-badge-count) {
    background-color: #54c056;
    margin-right: 20px;
    direction: ltr;
  }

  .pipeLine {
    position: relative;
    background: #fff;
  }

  .pipeLineContent {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    height: 64px;
    padding: 20px 37px 0 15.75px;
    font-size: 12px;
    line-height: 61px;
    font-weight: 700;
    color: #212121;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.1);

    &:hover {
      .pipelineLevel {
        opacity: 1;
      }
    }

    & a {
      i {
        margin-left: 3px;
      }

      &:hover {
        color: #2595d6;
      }
    }

    .extraActions {
      list-style: none;
      padding: 0;
      display: inline;
      float: left;

      li {
        display: inline-block;

        button {
          color: gray;
          font-size: 18px;
          position: relative;
          top: 5px;
        }
      }
    }
  }

  &:first-child {
    .pipeLineContent {
      padding: 0 25px 0 0;
    }

    & > span {
      max-width: 124px;
      display: block;
      margin: 0;
      line-height: 14px;
      float: right;
    }
  }

  .pipeLineDivider {
    z-index: 1;
    position: absolute;
    height: 100%;
    top: 0;
    left: -12px;
    border-bottom: 1px solid #e0e0e0;
  }

  .showMoreBtn {
    width: -webkit-calc(100% - 16px) !important;
    margin: 5px 8px;
    background-color: #f2f2f2;
    display: block;
    text-align: center;
    line-height: 32px;
    color: #999;
  }

  .showMoreBtn:hover {
    width: -webkit-calc(100% - 16px) !important;
    border: none;
    color: #ffc31e;
    background-color: #f2f2f2;
  }

  .showMoreBtn:focus,
  .showMoreBtn:active {
    width: -webkit-calc(100% - 16px) !important;
    border: none;
    color: #ffad1d;
    background-color: #f2f2f2;
    box-shadow: none;
  }
}

.disabledContent {
  color: rgb(156, 156, 156);
  font-weight: 400;
}
