@import '../../variables';

.dateTime {
  direction: ltr;

  .time {
    background: #ececec;
    display: inline-block;
    padding: 2px 4px;
    margin: 0 0 0 5px;
    border-radius: 2px;
  }
}

.time2 {
  display: inline-block;
  padding: 0 5px;
  background: #d8d8d8;
  color: #151515;
  margin: 0 0 0 10px;
  border-radius: 2px;
}

.money {
  direction: ltr;
}

.phone {
  direction: ltr;
}

.ip {
  direction: ltr;
  font-family: sans-serif;
}

.row {
  display: inline-block;
  padding: 2px 5px;
  margin-left: 10px;
  background: #e3fbf9;
  border-radius: 4px;

  .label {
    font-weight: bold;
    padding-left: 5px;
  }

  .value {
    display: inline-block;
  }
}
