@import '../variables';

.inputsGroup {
  span:first-child {
    min-width: unset !important;
  }

  :global {
    .ant-input-group {
      display: flex;
    }

    div {
      font-size: 10px;
      font-weight: normal;
      line-height: 1.5;
      color: darkred;
    }

    input:focus,
    .ant-input:focus,
    .ant-input:hover,
    .ant-pagination-options-quick-jumper input:hover {
      border: 1px solid #ddd !important;
    }
  }

  .number {
    width: 65px;

    :global {
      .ant-input {
        border-radius: 0 !important;
      }
    }
  }

  .character {
    width: 65px;

    :global {
      .ant-select-selection {
        border-right: none !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;

        &:hover {
          border-color: #ddd !important;
        }
      }
    }
  }

  .serialNumber {
    flex: 1;

    :global {
      .ant-input {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left: none;
      }

      .ant-input-affix-wrapper:hover .ant-input :not(.ant-input-disabled) {
        border-left-width: 0 !important;
        border-right-width: 1px !important;
      }
    }
  }
}
