@import '../../variables.scss';

.startFormContainer {
  position: relative;
  padding: 24px;
  width: 100%;
  margin: auto;

  @media only screen and (max-width: 1032px) {
    height: calc(100vh - 95px);
    overflow: hidden;
  }
}

.startFormHeader {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  top: 0;
  align-items: flex-start;
  margin-bottom: 16px;
}

.startFormTitle {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary);
}

.phaseName {
  font-size: 12px;
  color: var(--light-gray);
  margin-right: 5px;
}

.submitButton {
  width: 100% !important;
  margin-top: 24px;

  span {
    font-size: 14px;
    font-weight: bold;
    color: var(--bg);
  }
}

.editFieldsButton {
  width: 100% !important;
  margin-top: 24px;
  border-radius: 4px !important;
  border: dashed 1px var(--icon) !important;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
  }

  .editButtonText {
    font-size: 14px;
    font-weight: normal;
    color: var(--icon);
    margin-right: 8px;
  }
}

.startFormButtonWrapper {
  background-color: white;
  margin: auto;
  width: 100%;

  @media only screen and (max-width: 1032px) {
    width: calc(100% - 140px);
    position: fixed;
    bottom: 48px;
  }
}

.formGeneratorContainer {
  max-height: calc(100vh - 256px);
  overflow: auto;

  @media only screen and (max-width: 1032px) {
    max-height: calc(100vh - 128px);
  }
}

.emptyStartForm {
  font-size: 12px;
  color: var(--text-field-label);
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}
