@import '../../variables';

.field {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  margin-bottom: 5px;
  position: relative;
  padding: 5px;
  line-height: 28px;
  background-color: #fff;
}

:global(.nonDragArea) {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  margin-right: 30px;
  font-size: 13px;

  small {
    color: #ffac08;
  }
}

.btns {
  :global(.btn) {
    padding: 0;
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin-left: 5px;
    line-height: 24px;
    font-size: 12px;
    background-color: #fff;
  }
}

.dashes {
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 50px;
  position: absolute;
  border-left: 1px solid #e8e8e8;
  width: 22px;
  text-align: center;
  cursor: all-scroll;

  .dash {
    color: #777;
    transform: rotate(90deg);
    display: inline-block;
    width: 7px;
    height: 14px;
  }
}
