.container {
  width: 49%;
  height: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;

  .handGesture {
    width: 58px;
    margin-bottom: 8px;
  }

  .item_text {
    font-size: 12px;
    color: #3b556d;
  }

  .icon {
    margin-right: 8px;
  }
}
