@import '../../variables.scss';

.container {
  display: flex;
  flex-direction: row;
}

.validationStar {
  color: red;
}

.input_with_action {
  position: relative;
  display: flex;
  float: left;
}

.btn_edit {
  padding: 0;
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin-right: 5px;
  line-height: 24px;
  font-size: 12px;
  margin-top: 4px;
}
