@import '../../../variables';

.root {
  .radioBox {
    position: absolute;
    top: 1px;
    left: 0;
    font-weight: normal;
  }

  .docsHeader {
    display: block;
    font-weight: bold;
    border-bottom: 1px solid #efefef;
    padding: 0 0 12px;
    margin-bottom: 15px;
    position: relative;
  }

  .address {
    color: #404040;
    font-weight: normal;
    font-size: 14px;

    .street {
      margin-bottom: 5px;
    }

    .postCodeCheck {
      margin: 0 10px 0 0;
    }

    .part {
      padding-left: 25px;
    }

    & + .address {
      margin-top: 24px;
      padding-top: 24px;
      border-top: 1px solid $border;
    }
  }

  .address_container {
    .address_child {
      margin-left: 5px;
    }
  }
}

.address_item_mBottom {
  margin-bottom: 10px;
}
