@import '../../components/variables';

.content {
  height: 100%;
  background: #f0f2f5;
  padding: 16px;
  margin-top: 55px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  line-height: inherit !important;
  z-index: 999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  :global {
    .header-collapse-sidebar {
      color: rgb(62, 62, 62);
      font-size: 18px;
      position: relative;
      top: 14px;
    }
  }
}

.animate_hidden {
  transition: 0.5s all cubic-bezier(0, 0, 0.2, 1);
  left: -4000px;
  position: fixed;
  bottom: 10px;
  width: 350px;
  z-index: 999;
}

.animate_show {
  transition: 0.5s all cubic-bezier(0, 0, 0.2, 1);
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 350px;
  z-index: 999;
}

.headerSearchbar {
  width: 40vw;
}

.navigation {
  width: 342px;
}
