@import '../variables';

.root {
  :global(.ant-modal-body) {
    background: #ecf0f5;
  }
}

.title {
  color: #0074c2;
  font-weight: normal;
  border-bottom: 1px solid #d9d9d9;
  line-height: 20px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.addresses {
  margin-bottom: 15px;
  cursor: pointer;

  .addressTitle {
    font-weight: bold;
  }

  .icon {
    font-size: 24px;

    &.active {
      color: #0d94f6;
    }
  }

  & > span:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a7a6a6;
    min-width: 66px;
    margin-top: 0;
  }

  .editBtn {
    padding: 0 4px;
    background: #06b6ed;
    color: #fff !important;
    font-size: 12px;
    font-weight: normal;
    border-radius: 4px;
    line-height: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;

    &:hover {
      background: darken(#06b6ed, 6%);
      color: #fff !important;
    }
  }

  &:hover {
    span:first-child {
      color: $color-info;
    }
  }
}

.timesWrapper {
  margin-bottom: 20px;

  .header {
    margin-bottom: 15px;

    * {
      font-weight: normal;
      color: #000;
    }
  }

  .dates > span:first-child {
    min-width: 150px;
  }
}

.btn {
  margin: 0 0 10px 5px;
  font-size: 14px;
  min-width: 115px;
  padding: 0 10px;
}

.addNewAddress {
  margin: 0 66px 25px 0;
  padding: 15px;
  background: #f9f9f9;//#f9f9f9
  border: 1px solid #efefef;//#d9d9d9

  .mb15 {
    margin-bottom: 15px;
  }

  .secondLabel {
    & > span:first-child {
      padding-right: 10px;
    }
  }

  .wrapper50 {
    width: 50%;
    display: inline-block;
  }
}

.simpleCard {
  margin: 0 0 20px;
  padding: 15px;
  border-radius: 3px;
  background: #fff;
  border-top: 3px solid #d2d6de;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
