@import '../../variables';
:global {
  .ant-drawer {
    left: 0 !important;
  }

  .ant-drawer-left .ant-drawer-content-wrapper,
  .ant-drawer-right .ant-drawer-content-wrapper {
    height: calc(100vh - 64px);
    box-shadow: 0 1px 6.5px 0 rgba(0, 0, 0, 0.12);
  }

  .ant-drawer-content {
    height: 100%;
    text-align: right;
  }

  .ant-drawer-close {
    left: 0;
    right: auto;
    top: 0;
    font-size: 12px;
  }

  .ant-drawer-body {
    height: 100%;
    padding: 0;
    direction: rtl;
  }

  .drawer-parent {
    direction: ltr !important;
  }

  .ant-drawer-header {
    border-radius: 0;
    background: #fff;
    border-bottom: none;
    direction: rtl;
  }

  .ant-tabs-tabpane.ant-tabs-tabpane-active {
    height: 100% !important;
  }
}
