.root {
  position: relative;

  .toolsMainButton {
    z-index: 1002;
    transform: scale(1.3);
  }

  .tools {
    position: relative;
    top: -45px;
    right: 5px;

    .tool {
      position: absolute;
      transition: 0.3s;
      z-index: 1001;
    }
  }
}
