@import '../../../variables';

:global {
  .ant-input-affix-wrapper .ant-input-suffix {
    left: 10px !important;
  }
}

.root {
  :global {
    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
      float: left;
    }
  }

  .radioBox {
    position: absolute;
    top: 1px;
    left: 0;
    font-weight: normal;
  }

  .docsHeader {
    display: block;
    font-weight: bold;
    border-bottom: 1px solid #efefef;
    padding: 0 0 12px;
    margin-bottom: 15px;
    position: relative;
  }
}

.hDivider {
  margin: 8px 0;
}

.tagList {
  display: flex;

  .tag {
    margin: 0 4px;
    width: 85px;
    font-size: 10px;
  }
}

.button {
  margin: 0 8px;
  width: 180px;
}

.flexItemInput {
  width: 209px;
}

.nationalCodeForm {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.nationalCodeListSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
