@import '../variables';

.docsHeader {
  display: block;
  font-weight: bold;
  border-bottom: 1px solid #efefef;
  padding: 0 0 12px;
  margin-bottom: 15px;
  position: relative;
}

.root {
  padding: 15px 20px 60px;
  background: #f9f9f9;
  border: 1px solid $border;
  margin-bottom: 20px;
  min-height: calc(100% - 20px);
  position: relative;

  .buttonWrapper {
    position: absolute;
    bottom: 20px;
  }

  .additionalInfo {
    & > div {
      margin-bottom: 10px;

      span:first-child {
        min-width: 136px;
      }
    }
  }

  .button {
    margin-left: 15px;
  }
}

.datePicker {
  font-size: 12px;
}
