@import '../variables';

.modalBody {
  :global(.ant-modal-body) {
    background: #ecf0f5;
  }
}

.closeModalBtn {
  background: #fff;

  &:hover {
    background: #fff;
  }
}

.notFound {
  padding: 20px;
  text-align: center;

  i {
    font-size: 48px;
    margin-bottom: 30px;
    color: $color-warning-2;
  }

  h4 {
    font-size: 18px;
  }
}

.addButton {
  margin-left: 15px;
}
