.container {
  padding: 0 0 0 10px;

  .globla_info {
    border-bottom: 1px solid #e3e8ed;
    padding-bottom: 4px;
    margin-bottom: 16px;

    :global {
      .ant-descriptions-item-label {
        color: #999;
        min-width: 104px;
      }

      .ant-descriptions-item-content {
        color: #333;
        flex-grow: 1;
        line-height: 24px;
      }

      .ant-descriptions-item {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 4px !important;
      }
    }
  }

  .chipe_tag {
    border-radius: 4px;
    border: solid 1px #8bc8ff;
    background-color: #f1f9ff;
    color: #1c92ff;
    padding: 5px;
    display: inline-block;
    margin: 3px;
    font-size: 12px;
  }

  .other_info_sec {
    padding-bottom: 16px;
    margin-bottom: 16px;

    :global {
      .ant-descriptions-item-label {
        color: #999;
      }
    }
  }
}
