/* stylelint-disable no-descending-specificity */
@import '../variables.scss';

.moreActionContainer {
  button[aria-expanded=true] {
    span {
      border-radius: 50%;
      background-color: rgba(163, 178, 194, 0.39);
      padding: 2px;
    }
  }

  button[aria-haspopup] {
    position: unset;
  }
}

.moreActionTextWrapper {
  span {
    display: flex;
  }

  &:hover {
    background-color: var(--light-blue);

    span {
      color: #0065ff;
    }

    svg path {
      fill: #0065ff;
    }
  }
}

.moreActionText {
  font-size: 12px;
  font-weight: normal;
  color: var(--text-field-label);
  margin-right: 4px;

  &:hover {
    color: #0065ff;
  }
}
