.desc_container {
  padding: 12px;
  border-radius: 4px;
  border: solid 1px #e1e1e1;
  background-color: #fbfbfb;
  margin: 8px 0 16px;

  :global {
    .ant-descriptions-row > td,
    .ant-descriptions-row > th {
      padding-bottom: 4px;
    }
  }
}

.label {
  :global {
    .ant-descriptions-item-label {
      font-size: 12px;
      color: rgba(99, 99, 99, 0.65);
    }
  }
}

.wrapper {
  h4 {
    color: #3b556d;
    margin-bottom: 12px;
  }

  :global {
    .ant-btn {
      margin-top: 24px;
      margin-left: 4px;
      float: left;
    }
  }
}

.currentUnitInfo {
  margin-bottom: 32px;
}

.unitList {
  margin-top: 12px;
  width: 100%;
  height: 40vh;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.changeUnit {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.changeDefaultUnit {
  border-top: 1px solid #f0f0f0;
  margin-top: 24px;
  padding-top: 24px;

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.defaultUnitForm {
  &__footer {
    border-top: 1px solid #f0f0f0;
    margin-top: 24px;
    padding-top: 12px;
    display: flex;
    justify-content: flex-end;
  }
}
