.container {
  position: fixed;
  top: 55px;
  right: 60px;
  width: calc(100% - 60px);
  height: calc(100% - 55px);
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;

  .content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .body {
      position: relative;
      background: white;
      max-width: 1203px;
      border-radius: 8px;
      margin: 0 16px;

      @media only screen and (max-width: 1032px) {
        width: 100%;
        max-height: 100vh;
      }

      .closeButton {
        position: absolute !important;
        top: 16px;
        left: 16px;
        border: none;
        cursor: pointer;
        padding: 0 !important;
        z-index: 1000;

        &:hover {
          background-color: transparent !important;
        }

        svg {
          fill: gray;
        }
      }
    }
  }
}

.displayBlock {
  display: flex;
}

.displayNone {
  display: none;
}
