.infoContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 249, 249, 0.45) ;
  margin-top: 12px;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 15px;

  .info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .btnContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 6px;

    .editBtn {
      color: #1c92ff;
      font-size: 12px;
      cursor: pointer;
    }

    .deleteBtn {
      color: #ff4d4f;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
