.container {
  .section {
    .section__list {
      .chipe_tag {
        border-radius: 4px;
        border: solid 1px #8bc8ff;
        background-color: #f1f9ff;
        color: #1c92ff;
        padding: 5px 10px;
        margin: 3px;
        display: inline-block;
      }
    }
  }
}
