.cardDetail {
  width: 100%;
  max-height: calc(100vh - 178px);
  height: 100%;

  &:last-of-type {
    max-width: 100%;
  }

  .detailTitle {
    font-weight: bold;
    padding: 16px;
    font-size: 14px;
    color: var(--primary);
    border-top: 1px solid #dadde1;
    border-bottom: 1px solid #dadde1;
  }

  .detailTabsTitle {
    width: 100%;
    margin-top: 8px;
    padding: 0 !important;
    height: calc(100% - 80px);

    > div:nth-child(1) {
      max-width: 100%;
      max-height: 100%;
      min-height: 100% !important;
    }

    div[role=tabpanel] {
      padding: 0;
      min-height: 100% !important;
      overflow-y: scroll;
      max-width: 100%;
      width: 100%;
    }

    div[aria-selected=true] {
      &::after {
        border-bottom: 2px solid #1890ff !important;
      }
    }

    div[role=tablist] {
      &::before {
        content: '';
        border-radius: 2px;
        bottom: 0;
        margin: 0;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #dadde1;
      }

      .tab {
        font-family: iranyekan, Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
        font-size: 16px;
        font-weight: normal;
        color: var(--secondary);
        cursor: pointer;
        line-height: 1.8;
        margin: 0;
        padding: 0 8px 1px;
        gap: 6px;
        display: flex;
        justify-content: start;
        align-items: center;

        @media only screen and (max-width: 580px) {
          font-size: 12px;
          padding: 0 4px 10px;
        }
      }

      .activeTab {
        font-size: 16px;
        text-align: right;
        color: #1890ff;
        flex: none;
        order: 0;
        flex-grow: 0;
        @extend.tab;

        svg {
          path {
            fill: #1890ff;
          }
        }
      }
    }
  }
}

.borderLeft {
  border-left: 1px solid #dadde1;
}

:global {
  .card-detail-page {
    .cardDetail {
      max-height: calc(100vh - 140px);
    }

    .first-section-card-Detail {
      max-width: 100%;
    }

    .detail-Title {
      display: flex;
      align-items: center;
      justify-content: start;
    }

    .border-left {
      border-left: none;
    }

    .details-Tabs-Title {
      width: 100%;
      margin-top: 8px;
      padding: 0 !important;
      height: calc(100vh - 300px);
    }
  }
}
