@import '../variables';

.root {
  :global {
    .ant-tabs-nav {
      display: block !important;

      > div {
        display: flex;

        .ant-tabs-tab {
          flex: 1;
          text-align: center;
          display: flex;
          align-content: center;
          justify-content: center;
        }
      }
    }

    .ant-tabs {
      height: 100%;
      overflow: unset;
    }

    .ant-tabs-bar {
      margin: 0 !important;
    }

    .ant-tabs-content {
      height: 100%;
      padding: 0 !important;
    }
  }
}

.tabTitle {
  margin-right: 10px;
}

.sync {
  font-size: 19px;
  color: #b5b5b5;
  transition: all 0.3s;

  &:hover {
    color: #000;
  }
}

.activityCrmKianTableContainer {
  margin: 20px;
}

.loadingContainer {
  text-align: center;
  border-radius: 4px;
  padding: 30px 50px;
  margin: 20px 0;
}

.tabsBoxShadow {
  background-color: #ffffff;
  margin-bottom: 16px;
  padding: 16px 24px;
  border-radius: 4px;
}
