@import '../variables';

.columnsBodyInfo {
  padding: 0;
  width: 100%;

  a {
    font-size: 13px;
    color: #1890ff;
  }

  b {
    color: #3a3a3a;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
  }

  :global(.ant-collapse-content) {
    background-color: #eff8ff;
    padding: 0;
    border-top: none;

    b {
      width: 100px;
    }
  }

  p {
    color: #424242;
    font-size: 12px;
    margin-bottom: 0 !important;
    width: 150px;
    display: block;
    word-break: break-all;
  }

  :global(.ant-collapse-header) {
    b {
      width: unset !important;
    }
  }

  :global(.ant-collapse) {
    background-color: #fff;
    border: none;
  }

  :global(.ant-collapse) > :global(.ant-collapse-item) {
    border-bottom: 1px solid #eee !important;
  }

  :global(.ant-collapse) > :global(.ant-collapse-item) > :global(.ant-collapse-header) :global(.ant-collapse-arrow) svg {
    font-size: 9px;
    color: #5f5f5f;
  }

  :global(.ant-collapse-content) > :global(.ant-collapse-content-box) {
    padding: 5px 0 !important;
  }
}
