@import '../variables';

.label {
  padding: 5px 15px;
}

.required {
  color: red;
  padding-left: 5px;
}

:global(.ant-form-explain) {
  font-size: 12px;
  margin-top: 5px;
  font-weight: 400;
}

.form {
  :global(.has-error.has-feedback) :global(.ant-form-item-children-icon),
  :global(.has-success.has-feedback) :global(.ant-form-item-children-icon),
  :global(.has-warning.has-feedback) :global(.ant-form-item-children-icon),
  :global(.is-validating.has-feedback) :global(.ant-form-item-children-icon) {
    top: 20px;
  }
}

.link {
  color: #999;
}
.text{
  color: #777777;
  font-size: 12px;
}
