@import '../../variables';

.controlLabel {
  margin: 5px;
  display: inline-block;
}

:global(.inline) {
  display: flex;
}

:global(.inline) :global(.ant-input-disabled) {
  flex: 1;
}

.input {
  border: 0 solid transparent;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.49) !important;
}

.container {
  color: #000c17;
}

:global(.inline) .controlLabel {
  margin: 5px 5px 0 10px;
  display: inline-block;
}

.container:global(.ltrInput .ant-input-group) {
  direction: ltr;
}

.container:global(.ltrInput) input {
  direction: ltr;
}
