.MODAL_FOR_KYB_BUSINESS_COMPLETE_INFORMATION {
  .modal_container {
    padding: 24px;
  }

  :global {
    .ant-modal-body,
    .ant-modal-footer {
      padding: 0 !important;
    }

    .has-success.has-feedback .ant-form-item-children-icon {
      margin-top: 0 !important;
    }
  }

  .divider {
    margin: 11px 0 24px 0 !important;
  }

  .footer {
    padding: 12px 16px;
    margin-top: 40px;
    border-top: 1px solid #f0f0f0;
  }

  .input_container {
    margin: 4px 0;
  }

  .input {
    :global(.controlLabel) {
      color: #7a7a7a !important;
      font-weight: normal !important;
      min-width: 130px;
    }

    // .input {
    //   flex-direction: column !important;
    //   border-radius: 4px !important;

    //   :global {
    //     .ant-input {
    //       border-radius: 4px !important;
    //     }
    //   }

    //   :global(.ltrInput) input {
    //     border-radius: 4px !important;
    //   }
    // }
  }

  .section_item {
    .card {
      border-radius: 4px;
      border: 1px solid #f0f0f0;

      span {
        font-size: 12px;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 8px;
        color: #515151;
        display: block;
        padding: 7px 12px;
      }

      .card_container {
        margin: 0 8px 8px 8px;
        background-color: #f7f7f7;
        border-radius: 2px;
        min-height: 114px;
        overflow: hidden;
        cursor: pointer;

        img {
          width: 100%;
          min-height: 114px;
          border-radius: 2px;
        }
      }
    }
  }
}

.datePickerLabel {
  color: #7a7a7a !important;
  font-weight: normal !important;
  min-width: 120px !important;
  font-size: 12px;
}
