.icon {
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  font-size: 8px;
  margin-left: 8px;
}

.kyc_container {
  border-radius: 4px;
  padding: 8px;
  color: #fff;
  direction: rtl;
  font-size: 12px;
  line-height: 14px;
}
