@import '../variables';

.root {
  background: #f2f2f2;
  height: 64px;
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .actions {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    :global(.ant-select-selection--single) {
      border-radius: 2px !important;
      border: none !important;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05), 0 0 4px 0 rgba(0, 0, 0, 0.15) !important;
      min-width: 150px;

      &:focus {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05), 0 0 4px 0 rgba(0, 0, 0, 0.15) !important;
      }
    }

    li {
      height: 32px;

      &.actionsList {
        border: none;
        border-radius: 2px;
        padding: 5px 10px 5px 5px;
        vertical-align: middle;
        background-color: #0d94f6;
        cursor: pointer;
        box-shadow:
          0 0 4px 0 rgba(0, 0, 0, 0.05),
          0 2px 4px 0 rgba(0, 0, 0, 0.15);

        :global(.ant-dropdown-trigger) {
          color: #fff;

          :global(.anticon-caret-down) {
            color: #fff;
          }
        }
      }
    }
  }
}
