.emptyValue {
  color: #0065ff;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.formFieldTitle {
  display: flex;
  align-items: center;

  .formFieldTitleText {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-field-label);
  }
}

.formFieldValue {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-field);
  margin-bottom: 20px;
}

.editTitleButton {
  padding: 0 4px !important;

  svg {
    path {
      fill: #0065ff;
    }
  }

  &:hover {
    background-color: transparent !important;
  }
}
