.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  & > div:first-child {
    width: 100%;
    max-width: 460px;
    flex-shrink: 0;
  }

  & > div:last-child {
    flex-grow: 1;
    width: 50%;
  }
}

.card {
  padding: 12px;
  border-radius: 8px;
  border: solid 1px #e0e5e8;
  background-color: white;
}

.title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.79;
  color: black;
}

.divider {
  margin: 12px 0;
}
