@import '../variables';

/*
 * Dark theme colors
 * ======================================================================== */
$dark-color-background-table: #222533;
$dark-color-background-table-hover: #303343;
$dark-color-fonts-table: rgba(255, 255, 255, 0.9);
$dark-color-border-table: rgb(57, 60, 74);
$dark-color-input-background: rgb(57, 60, 74);

/* ======================================================================== */
.kianTable {
  width: 100%;
  display: block;
  background-color: #fff;
  padding: 26px 32px 20px;

  :global {
    .ant-table-thead {
      background-color: #fafafa;
      font-size: 12px;

      th {
        color: #3b556d;
      }
    }
  }

  .clickableRow {
    tr:hover td {
      cursor: pointer !important;
    }
  }
}

.kianTable:global(.dark) {
  :global {
    .ant-table {
      transition: 0.2s all;
      color: $dark-color-fonts-table;
      border-color: $dark-color-border-table;
    }

    .ant-collapse-header {
      color: white;
    }

    .ant-collapse-content-box {
      background-color: rgb(34, 37, 51);
    }

    .ant-table-wrapper {
      transition: 0.2s all;
      background-color: $dark-color-background-table;
    }

    .ant-table-thead {
      background-color: rgb(41, 44, 53);

      th {
        color: rgba(249, 249, 249, 0.85) !important;
        background: rgb(39, 42, 54);
      }
    }

    .ant-pagination-item a,
    .ant-typography,
    td i,
    .ant-pagination,
    .ant-pagination-next a,
    .ant-pagination-prev a,
    .ant-select-selection-selected-value,
    .ant-select-arrow,
    input {
      color: $dark-color-fonts-table !important;
    }

    .ant-pagination-item,
    .ant-pagination-next a,
    .ant-pagination-prev a {
      background-color: $dark-color-input-background;
    }

    .ant-table-tbody > tr > td {
      border-bottom: 1px solid $dark-color-border-table !important;

      a {
        color: rgb(47, 195, 214);

        &:hover {
          color: rgb(27, 161, 214);
        }
      }
    }

    .ant-table-bordered .ant-table-tbody > tr > td,
    .ant-table.ant-table-bordered .ant-table-content,
    .ant-table-bordered .ant-table-thead > tr > th {
      border-right: 1px solid $dark-color-border-table !important;
    }

    .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
      background-color: $dark-color-background-table-hover;
      transition: 0.2s all;
    }

    .ant-table-thead > tr {
      border-bottom: 1px solid $dark-color-border-table !important;
    }

    .ant-table-pagination {
      transition: 0.2s all;
      background-color: $dark-color-background-table;
    }

    .ant-select-selection,
    .ant-pagination-options-quick-jumper input {
      background-color: $dark-color-input-background;
      border: 1px solid rgb(56, 59, 73);
      border-top: 1.02px solid rgb(57, 60, 74);
    }

    .ant-pagination-item-active {
      font-weight: 500;
      background: $dark-color-input-background;
      border-color: rgb(106, 110, 127);
    }

    .kian-table-search-box {
      background: rgb(41, 44, 53);
      color: rgb(255, 255, 255);
      border-color: $dark-color-border-table;

      .search-box-inside {
        background: rgb(39, 42, 54);
      }

      .search-box-header:hover {
        span,
        i {
          color: white;
        }
      }
    }

    .ant-pagination-item-ellipsis {
      color: rgba(255, 255, 255, 0.85);
    }
  }
}
